@import 'src/styles/variables';

.inputRange__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .inputRange__label_text {
    font-size: 2rem;
    color: $green;
  }
}

.inputRange {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;

  background: $blackShadowContainer;
  accent-color: $green;
  cursor: pointer;
  height: 8px;

  -webkit-appearance: none;
  &::-webkit-slider-thumb {
    height: 28px;
    width: 28px;
    background: $text;
    -webkit-appearance: none;
    border-radius: 50%;
    transition: all 0.25s;
  }
  &:hover::-webkit-slider-thumb {
    background: $blackShadowContainer;
    border: 2px solid $green;
    -webkit-appearance: none;
    transition: all 0.25s;
  }
}
