@import 'src/styles/variables';

.title {
  color: $title;
  font-size: 1rem;
}

.field {
  width: 500px;
  display: flex;
  padding: 1rem;

  justify-content: space-between;
  align-items: center;

  background-color: $blackContainer;
  .field__text {
    font-size: 1.5rem;
    color: $textPassword;
  }
  .field__copy_svg {
    width: 21px;
    height: 24px;
    transition: all 0.25s;
    &:active {
      .field__copy_path {
        transition: all 0.25s;
        fill: white;
      }
      cursor: pointer;
    }
  }
  .field__copy_path {
    fill: $green;
  }
  .copy {
    gap: 1rem;
    align-items: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 1.5rem 2rem;
  gap: 1rem;

  width: 500px;
  height: auto;

  background-color: $blackContainer;
  color: $text;
}

.strength {
  display: flex;
  background-color: $blackShadowContainer;
  padding: 1rem;

  justify-content: space-between;
  align-items: center;
  .strength__title {
    color: $title;
  }
  .strength__level {
    display: flex;
    align-items: center;
  }
  .strength__description {
    text-transform: uppercase;
    margin-right: 0.5rem;
  }
  .strength__division {
    width: 12px;
    height: 28px;
    border: 2px solid $text;
    margin-left: 0.5rem;
  }
  .strength__division[data-strength='too weak!'] {
    &.strength__division1 {
      background-color: red;
    }
  }

  .strength__division[data-strength='weak'] {
    &.strength__division1,
    &.strength__division2 {
      background-color: orange;
    }
  }

  .strength__division[data-strength='medium'] {
    &.strength__division1,
    &.strength__division2,
    &.strength__division3 {
      background-color: yellow;
    }
  }

  .strength__division[data-strength='strong'] {
    &.strength__division1,
    &.strength__division2,
    &.strength__division3,
    &.strength__division4 {
      background-color: $green;
    }
  }
}

.button {
  width: 100%;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  border: 2px solid $green;
  background-color: $green;
  transition: all 0.25s;
  &:active {
    .button__svg {
      background-color: $blackContainer;
    }
    background-color: $blackContainer;
    cursor: pointer;
  }
  .button__svg {
    margin-left: 1rem;
    background-color: $green;
    width: 12px;
    height: 12px;
    transition: all 0.25s;
  }
}
