@import 'src/styles/variables';

.title {
  color: $title;
  font-size: 1rem;
}

.field {
  position: relative;
  width: 90vw;
  min-width: 320px;
  max-width: 500px;
  display: flex;
  padding: 1rem;

  background-color: $blackContainer;

  .field__input {
    font-size: 1.5rem;
    color: $text;
    background-color: inherit;
    border: none;
    &::placeholder {
      color: $textPassword;
    }
    &:focus {
      outline: none;
    }
  }
  .field__copy_svg {
    position: absolute;
    top: 27%;
    right: 1rem;

    width: 21px;
    height: 24px;
    transition: all 0.25s;
    &:active {
      .field__copy_path {
        transition: all 0.5s;
        fill: white;
      }
      cursor: pointer;
    }
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
    .field__copy_path {
      transition: all 0.5s;
      fill: $green;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 1.5rem 2rem;
  gap: 1rem;

  width: 90vw;
  min-width: 320px;
  max-width: 500px;
  height: auto;

  background-color: $blackContainer;
  color: $text;
}

.strength {
  display: flex;
  background-color: $blackShadowContainer;
  padding: 1rem;

  justify-content: space-between;
  align-items: center;
  .strength__title {
    color: $title;
  }
  .strength__level {
    display: flex;
    align-items: center;
  }
  .strength__description {
    text-align: center;
    text-transform: uppercase;
    margin-right: 0.2rem;
  }
  .strength__division {
    width: 12px;
    height: 28px;
    border: 2px solid $text;
    margin-left: 0.5rem;
    transition: all 0.25s;
  }
  .strength__division[data-strength='too weak!'] {
    &.strength__division1 {
      background-color: red;
      border-color: red;
      transition: all 0.25s;
    }
  }

  .strength__division[data-strength='weak'] {
    &.strength__division1,
    &.strength__division2 {
      background-color: orange;
      border-color: orange;
      transition: all 0.25s;
    }
  }

  .strength__division[data-strength='medium'] {
    &.strength__division1,
    &.strength__division2,
    &.strength__division3 {
      background-color: yellow;
      border-color: yellow;
      transition: all 0.25s;
    }
  }

  .strength__division[data-strength='strong'] {
    &.strength__division1,
    &.strength__division2,
    &.strength__division3,
    &.strength__division4 {
      background-color: $green;
      border-color: $green;
      transition: all 0.25s;
    }
  }
}

.button {
  width: 100%;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  border: 2px solid $green;
  background-color: $green;
  transition: all 0.25s;
  &:active {
    .button__svg {
      background-color: $blackContainer;
    }
    background-color: $blackContainer;
    cursor: pointer;
  }
  .button__svg {
    margin-left: 1rem;
    background-color: $green;
    width: 12px;
    height: 12px;
    transition: all 0.25s;
  }
}

@media (max-width: 430px) {
  .strength__description {
    font-size: 10px;
  }
  .strength__title {
    font-size: 16px;
  }
}
